.header-main .navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-left: 31px;
    margin-right: 42px;
}
.header-right{
    margin-right: 30px;
}
.slider-img img{
    height: 600px;
}
.slider-coption {
    margin-bottom: 16%;
}
.btn-costom{
    padding: 0 20px;
}
.btn-costom {
    padding: 5px 33px;
    margin-top: 20px;
}

.table-form{
    padding: 80px 0 140px 0;
}
.card-btn-2 {
    margin-left: 2rem;
    width: 7rem;
}
.medalll {
    width: 100%;
    margin-top: 34px;
}

.card-progress ul li{
    line-height: 20px;
}
.card-progress h5.card-title {
    line-height: 8px;
}

.pagination-11 {
	margin-left: 23%;
}









